.bg-img1 {
  background-color: #000;
  block-size: cover;
  border-image: url("https://i.pinimg.com/736x/78/a9/c3/78a9c3163642d6f174bac6d102981f0c.jpg");
}
.bg-img2 {
  background-color: #000;
  block-size: cover;
  border-image: url("https://i.pinimg.com/736x/78/a9/c3/78a9c3163642d6f174bac6d102981f0c.jpg");
}
.bg-img1 {
  background-color: #000;
  block-size: cover;
  border-image: url("https://i.pinimg.com/736x/78/a9/c3/78a9c3163642d6f174bac6d102981f0c.jpg");
}
